body {
    font: 12px Arial;
    padding: 0;
    margin: 0;
}

path {
    stroke-width: 2;
    fill: none;
}

/* Graph Diagram */

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    /* We'll override this later */

    background-color: teal;
    margin: 0 2px;
}

svg .pumpkin {
    fill: yellow;
    stroke: orange;
    stroke-width: 5;
}

/*  Map */

#map {
    height: 700px;
    position: static;
}

#mapViewBlock {
    width: 33%;
    float: left;
    position: static;
    position: sticky;
    top: 152px;
}

#mainBlock, #pricesComparisionBlock {
    width: 66%;
    box-sizing: border-box;
    float: right;
}

#pricesComparisionBlock{
    background-color: #e3e3e3;
    margin-bottom: 20px;
}

#pricesComparisionBlock .hoverBox {

    border: 3px solid #e3e3e3;
}

.clear {
    clear: both;
}

.infos {
    background-color: #e3e3e3;
    padding: 20px;
    position: static;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.hoverBox .deleteDiagramm {
    display: none;
}

.hoverBox {
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid #fff;
}

.hoverBox:hover {

    border: 3px solid #e3e3e3;
}

.hoverBox:hover .deleteDiagramm {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #666666;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    display: block;
    font-size: 30px;
}

.hoverBox:hover .deleteDiagramm:hover {
    background-color: #3388ff;
    cursor: pointer;
}

.hoverBox .smallBox {
    width: 25%;
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
}

.loader {
    margin: 0 28%;
    position: absolute;
    top: 45%;

}

#priceRangeSlider {
    display: inline-block;
    width: 300px;
}

.colorBox {
    width: 20px;
    height:2px;
    display: inline-block;
}

.blue {
    background-color: steelblue;
}

.orange {
    background-color: orange;
}

.mouse-per-line text {
    background-color: #fff;
}
