body {
    font: 12px Arial;
    padding: 0;
    margin: 0;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

/* Graph Diagram */

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    /* We'll override this later */

    background-color: teal;
    margin: 0 2px;
}

svg .pumpkin {
    fill: yellow;
    stroke: orange;
    stroke-width: 5;
}

/*  Map */

#map {
    height: 700px;
    position: static;
}

#mapViewBlock {
    width: 20%;
    float: left;
}

#mainBlock {
    width: 80%;
    box-sizing: border-box;
    float: left;
    padding-left: 40px;
}

.clear {
    clear: both;
}

.infos {
    background-color: #e3e3e3;
    padding: 20px;
}

.hoverBox .deleteDiagramm {
    display: none;
}

.hoverBox:hover {

    position: relative;
}

.hoverBox:hover .deleteDiagramm {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #666666;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    display: block;
    font-size: 30px;
    opacity: 0.6;
}

.hoverBox:hover .deleteDiagramm:hover {
    background-color: #3388ff;
    cursor: pointer;
}

.hoverBox .smallBox {
    width: 20%;
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
}