<label for="yearSelect">Jahr:</label>
<select id="yearSelect">
    <option name="2014">2014</option>
    <option name="2015">2015</option>
    <option name="2016">2016</option>
    <option name="2017">2017</option>
</select>
<div id="firstChart"></div>
