<div class="hoverBox">
    <div class="deleteDiagramm">x</div>
    <h2>{{name }}:</h2>
    <div class="smallBox">
        <h3>Ausgewählter Zeitraum:</h3>
        <p>20.05.2017 - 12.06.2017</p>
    </div>

    <div class="smallBox">
        <h3>Adresse:</h3>
        <p>
            Musterstraße 25<br/>
            12345 Musterhausen
        </p>
    </div>
    <div id="dieselFlensburg"></div>
</div>