<div class="hoverBox">
    <h2>Preisvergleich:</h2>
    <div class="smallBox">
        <h3>Legende:</h3>
        <div id="pricesComparisionLegend">
        </div>
    </div>
    <div class="clear"></div>
    <img src="/images/loader.svg" alt="es lädt..." id="loaderComparision" class="loader"/>
    <div id="diagramPricesComparision" class="diagramPrices">
    </div>
</div>
<div class="clear"></div>