<h2>Jahr 2014:</h2>
<div id="crudeOil2014"></div>
<h2>Jahr 2015:</h2>
<div id="crudeOil2015"></div>
<h2>Jahr 2016:</h2>
<div id="crudeOil2016"></div>
<h2>Jahr 2017:</h2>
<div id="crudeOil2017"></div>
